In [1]:
print("mano tengo fe!")

mano tengo fe!

SyntaxError: invalid syntax (10776227.py, line 3)

In [6]:
variable= 23

In [7]:
variable

23

In [10]:

variable_1 = 22
variable_2 = 10
result = variable_1 + variable_2
result

32

In [14]:
# operaciones
sum = variable_1 + variable_2
substract = variable_1 - variable_2 
multi = variable_1 * variable_2 
div = variable_1 / variable_2

In [18]:
# resultado 
print(sum)
print(substract)
print(multi)
print(div)

32
12
220
2.2

In [19]:
# resultado comentados 
print("resultado de la suma es:", sum)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multipilicacion es: {multi}")
print(f"resultado de la division es: {div}")

resultado de la suma es: 32
resultado de la resta es: 12
resultado de la multipilicacion es: 220
resultado de la division es: 2.2

In [21]:
# tipos de datos en python 
print(type(variable))
print(type(variable_1))
print(type(div))

<class 'int'>
<class 'int'>
<class 'float'>

In [25]:
variable = int(input("ingresa tu nombre"))
print(variable)
print(type(variable))

8
<class 'int'>

In [29]:
# listas
# int
#b float
# strings
#

list_1 = [ "jose",  "maria", "ruperto", 12, 14, 15, 90.2, 78.5, 1.2]

In [30]:
list_1

['jose', 'maria', 'ruperto', 12, 14, 15, 90.2, 78.5, 1.2]

In [33]:
# [start:stop]
names_list = list_1[0:4]

In [35]:
# integers_list =
list_1[4:7]

[14, 15, 90.2]

In [42]:
#float_list. =
list_1[-2:]

[78.5, 1.2]

In [48]:
# metodos de lista
list_1.append(55.5)
list_1.append("30")

print(list_1)

['jose', 'maria', 'ruperto', 12, 14, 15, 90.2, 78.5, 1.2, 55.5, 55.5, 55.5, 'hola', 55.5, '30']

### condicionales

In [56]:
# sintaxis de un condicional simple
# if condicion:
   #operacion
# condicion 
# mayor que >
# menor que >
# mayor igual >=
# menor igual <=
# diferente !=
# igual ? ==

In [61]:
day = input(' dia de la semana: ')
if (day == 'lunes'):
    print('hoy lunes voy a trabajar')
else:
    print('no es lunes')

no es lunes

In [65]:
# operadores logicos 
# and y or

day = input(' dia de la semana: ')
momento_day = input('ingrese momento del dia ')

if (day == 'lunes') or (momento_day == 'noche'):
    print('veo netflix')
else:
    print('no es lunes')

veo netflix